<div id="playlist">
  <strong><%= playlist.name %></strong>
  <dl>
  <% playlist.titles.each do |title| %>
      <% if title.name %>
      <div class="playlist_title">
        <a href="http://www.crackle.com/c/<%= title.name.gsub(' ', '-') %>" target="_blank"><dd><%= title.name %></dd></a>
      </div>
      <% end %>
    <% end %>
  </dl>
</div>





