<% if logged_in? %>
<a href="/users/<%= current_user.id %>/edit"><button>Edit Profile</button></a>
<% end %>

<%= render partial: "show_user_info", locals: { user: @user } %>

<h4><%= @user.username %>'s Current Playlists</h4>

<%= render partial: "show_user_playlists", collection: @playlists, as: "playlist" %>

