<center><h4>Welcome to Reelpix!</h4></center>
  <br>
<% if logged_in? %>
<center>
<%= form_tag("/playlists/show_titles", method: "get") do %>
  <%= label_tag(:title_search, "Search for title:") %>
  <%= text_field_tag(:title_search) %>
  <%= submit_tag("Search") %>
<% end %>
</center>
<% end %>
