<% if logged_in? %>

<% @response = HTTParty.get("http://staging-api-us.crackle.com/Service.svc/search/media/#{@title_search}/us/") %>
<% @title = response"CrackleItemList"]["Items"]["CrackleItem"][0]["Title"] %>
<%= @title %>

<p>Please sign up or log-in! </p>
<a href="/users/new">Sign up!</a> <br>
<a href="/session/new">Log-in!</a>
<% end %>
