<div class="playlist_show">
  <u>
    <h3> <%= playlist.name %> </h3>
  </u>
  <p>by <%= playlist.user.username %></p><br>
  <strong>Titles:</strong>
    <% playlist.titles.each do |title| %>
      <% if title.name %>
      <a href="http://www.crackle.com/c/<%= title.name.gsub(' ', '-') %>" target="_blank"><li><%= title.name %></li></a>
      <% end %>
    <% end %>
</div>
