<% if logged_in? %>

<p>Hi <%= current_user.name %>!  Here are your current playlists: </p>

<p>Playlists: </p>
<% current_user.playlists.each do |playlist| %>
  <a href="/playlists/<%= playlist.id %>"><%= playlist.name %> </a>
  <a href="/playlists/<%= playlist.id %>/edit"><button type="submit">Edit/Delete</button></a> <br>
<% end %>
<% end %>
<br><br>

<a href="/">Home</a> <br>
<a href="/logout">Logout</a>
