<% if logged_in? %>

<p>Hi <%= current_user.name %>!  Here are your current playlists: </p>

<p>Playlists: </p>

<div class="playlist_index">
<% current_user.playlists.each do |playlist| %>
  <a href="/playlists/<%= playlist.id %>"><%= playlist.name %> </a>
  <a href="/playlists/<%= playlist.id %>/edit"><button type="submit">Edit/Delete</button></a> <br>
<% end %>
</div>
<% end %>
