<% if logged_in? %>

<p>Hi <%= current_user.name %>!  Here are your current playlists: </p>

<p>Playlists: </p>
<% @playlist.map do |playlist| %>
  <a href="/playlists/<%= playlist.id %>/edit"><%= playlist.name %> </a> <br>
<% end %>

<% end %>
