<% if logged_in? %>

<p>Hi <%= current_user.name %>!  Here are your current playlists: </p> <br>

  <%= @playlist.name %> <br>
  <% @playlist.titles.each do |title| %><br>
    <%= title.name %>

  <% end %>

<% end %>
