<a href="/">Home</a> | <a href="/playlists/new">Make a playlist</a> | <a href="/playlists">View all your current playlists</a> | <a href="/users/<%= current_user.id %>">View/Edit your profile</a> | <a href="/logout">Log-out!</a>
<br>
<h2>Welcome to Reelpix!</h2>

